body {
    background: rgba(99, 98, 98, 0.767);
}

.grey {
    background: grey;
}

.yellow {
    background: yellow;
}

.pink {
    background: pink;
}

.blue {
    background: blue;
}

li {
    list-style: none;
    padding: 0px;
}

img {
    /* align-: 50px; */
    width: 100px;
}

.myCar {
    width: 30%;
    margin: 10px 31%;
    background: #daa9a9;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 1.2% 2%;
    color: #3c3b3b;
    font-size: 1.1em;
}

.myCar2 {
    width: 30%;
    margin: 10px 31%;
    background: #1e9599;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    padding: 1.2% 2%;
    color: #3c3b3b;
    font-size: 1.1em;
}

