body {
    background: rgba(99, 98, 98, 0.767);
}

.grey {
    background: grey;
}

.yellow {
    background: yellow;
}

.pink {
    background: pink;
}

.blue {
    background: blue;
}

li {
    list-style: none;
    padding: 0px;
}

